<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="footer-top__content">
                <div class="footer-top__column">
                    <a href="./" class="footer-top__logo">
                        <img loading="lazy" src="img/icons/logo1.svg" alt="">
                    </a>
                    <div class="socials">
                        <a href="./">
                            <img loading="lazy" src="img/icons/telegramm.svg" alt="">
                        </a>
                        <a href="./">
                            <img loading="lazy" src="img/icons/ok.svg" alt="">
                        </a>
                        <a href="./">
                            <img loading="lazy" src="img/icons/vk.svg" alt="">
                        </a>
                        <a href="./">
                            <img loading="lazy" src="img/icons/youtube.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="footer-top__menu footer-catalog">
                    <div class="footer-top__title">
                        Каталог
                    </div>
                    <ul>
                        <li>
                            <a href="./">Яблони</a>
                        </li>
                        <li>
                            <a href="./">Груши</a>
                        </li>
                        <li>
                            <a href="./">Сливы</a>
                        </li>
                        <li>
                            <a href="./">Вишни и черешни</a>
                        </li>
                        <li>
                            <a href="./">Абрикосы</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-top__menu">
                    <div class="footer-top__title">
                        Меню
                    </div>
                    <ul>
                        <li>
                            <a href="./">Услуги питомника</a>
                        </li>
                        <li>
                            <a href="./">События</a>
                        </li>
                        <li>
                            <a href="./">Мероприятия</a>
                        </li>
                        <li>
                            <a href="./">о ПИТОМНИКИ</a>
                        </li>
                        <li>
                            <a href="./">Доставка и оплата</a>
                        </li>
                        <li>
                            <a href="./">кОНТАКТЫ</a>
                        </li>
                        <li>
                            <a href="./">гарантия</a>
                        </li>
                        <li>
                            <a href="./">сТАТЬИ И СОВЕТЫ</a>
                        </li>
                        <li>
                            <a href="./">Отзывы</a>
                        </li>
                        <li>
                            <a href="./">
                                пОЛИТИКА
                                КОНФИДЕНЦИАЛЬНОСТИ
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-top__contacts">
                    <div class="footer-top__title">
                        Свяжитесь с нами
                    </div>
                    <ul>
                        <li>
                            <svg aria-hidden="true" width="12" height="12">
                                <use xlink:href="img/sprite.svg#phone"></use>
                            </svg>
                            <a href="tel:79150802626" class="phone">+ 7 915 080 26 26</a>
                        </li>
                        <li>
                            <svg aria-hidden="true" width="13" height="13">
                                <use xlink:href="img/sprite.svg#map"></use>
                            </svg>
                            <p>
                                г. Москва, ул. Лесная,
                                д. 12
                            </p>
                        </li>
                        <li>
                            <svg aria-hidden="true" width="12" height="10">
                                <use xlink:href="img/sprite.svg#mail"></use>
                            </svg>
                            <a href="mailto:info@derevo-sad.ru">info@derevo-sad.ru</a>
                        </li>
                        <li>
                            <svg aria-hidden="true" width="12" height="12">
                                <use xlink:href="img/sprite.svg#time"></use>
                            </svg>
                            <p>
                                пн-вс <span>09:00 - 18:00</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom__content">
                <div class="footer-bottom__copy">
                    © derevo-sad 2026. Все права защищены
                </div>
                <div class="footer-bottom__text">
                    Питомник здоровых саженцев. Гарантия качества
                </div>
                <div class="footer-bottom__site">
                    <span>Разработка сайта:</span>
                    <a href="./">miridea.ru</a>
                </div>
            </div>
        </div>
    </div>
</footer>