<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Контакты</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-main block-main2">
                <img src="img/bg2.webp" alt="" class="block-main__bg1">
                <img src="img/image1.webp" alt="" class="block-main__pic1">
                <img src="img/image3.webp" alt="" class="block-main__pic2">
                <div class="container">
                    <div class="breadcrumbs">
                        <ul>
                            <li>
                                <a href="#" class="home">
                                    <svg aria-hidden="true" width="12" height="10">
                                        <use xlink:href="img/sprite.svg#home"></use>
                                    </svg>
                                </a>
                            </li>
                            <li><span>Контакты</span></li>
                        </ul>
                    </div>
                    <h1 class="title1">Контакты</h1>
                </div>
            </div>

            <div class="block-contacts">
                <div class="container">
                    <div class="block-contacts__content">
                        <div class="block-contacts__body">
                            <div class="block-contacts__title">
                                Питомник многосортовых и крупномерных плодовых деревьев "ДЕРЕВО-САД"
                            </div>
                            <div class="block-contacts__columns">
                                <div class="block-contacts__column">
                                    <div class="block-contacts__icon">
                                        <svg aria-hidden="true" width="24" height="24">
                                            <use xlink:href="img/sprite.svg#map"></use>
                                        </svg>
                                    </div>
                                    <div class="block-contacts__item">
                                        <div class="block-contacts__name">
                                            Адрес:
                                        </div>
                                        <p>
                                            Новорижское шоссе, 138 км, вблизи ст. Бухолово, напротив СНТ
                                            «Бутон» <span>(налево
                                                от Новорижского шоссе по ходу движения из Москвы, в 1 км от
                                                трассы)</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="block-contacts__column">
                                    <div class="block-contacts__icon">
                                        <svg aria-hidden="true" width="24" height="24">
                                            <use xlink:href="img/sprite.svg#phone"></use>
                                        </svg>
                                    </div>
                                    <div class="block-contacts__item">
                                        <div class="block-contacts__name">
                                            Телефон:
                                        </div>
                                        <a href="tel:79150802626" class="block-contacts__phone">+ 7 915 080 26 26</a>
                                    </div>
                                </div>
                                <div class="block-contacts__column">
                                    <div class="block-contacts__icon">
                                        <svg aria-hidden="true" width="24" height="24">
                                            <use xlink:href="img/sprite.svg#time"></use>
                                        </svg>
                                    </div>
                                    <div class="block-contacts__item">
                                        <div class="block-contacts__name">
                                            Почтовый адрес:
                                        </div>
                                        <a href="mailto:info@derevo-sad.ru"
                                            class="block-contacts__mail">info@derevo-sad.ru</a>
                                    </div>
                                </div>
                                <div class="block-contacts__column">
                                    <div class="block-contacts__icon">
                                        <svg aria-hidden="true" width="24" height="24">
                                            <use xlink:href="img/sprite.svg#mail"></use>
                                        </svg>
                                    </div>
                                    <div class="block-contacts__item">
                                        <div class="block-contacts__name">
                                            График работы:
                                        </div>
                                        <div class="block-contacts__work">
                                            пн-вс 09:00 - 18:00
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="map" class="block-contacts__map"></div>
                    </div>
                </div>
            </div>

            <div class="block-section block-section-last">
                <div class="container">
                    <div class="block-section__content">
                        <img loading="lazy" src="img/image4.webp" alt="" class="block-section__pic1">
                        <img loading="lazy" src="img/image5.webp" alt="" class="block-section__pic2">
                        <div class="block-section__body">
                            <div class="block-section__icon">
                                <svg aria-hidden="true" width="40" height="40">
                                    <use xlink:href="img/sprite.svg#question"></use>
                                </svg>
                            </div>
                            <div class="block-section__titles">
                                <div class="block-section__title">
                                    Остались вопросы?
                                </div>
                                <p>
                                    Напишите нам и мы свзяжемся с вами в ближайшее время
                                </p>
                            </div>
                            <a href="./" class="btn">
                                <span>Задать вопрос</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>