<!DOCTYPE html>
<html lang="ru">

<head>
    <title>События</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-main">
                <img src="img/bg2.webp" alt="" class="block-main__bg1">
                <img src="img/image1.webp" alt="" class="block-main__pic1">
                <img src="img/image3.webp" alt="" class="block-main__pic2">
                <div class="container">
                    <div class="breadcrumbs">
                        <ul>
                            <li>
                                <a href="#" class="home">
                                    <svg aria-hidden="true" width="12" height="10">
                                        <use xlink:href="img/sprite.svg#home"></use>
                                    </svg>
                                </a>
                            </li>
                            <li><span>События</span></li>
                        </ul>
                    </div>
                    <h1 class="title1">События</h1>
                    <p>
                        Жизнь нашего сада подчинена природным ритмам. Приглашаем вас разделить с нами самые важные и
                        интересные этапы садового сезона
                    </p>
                </div>
            </div>

            <div class="block-events">
                <div class="container">
                    <div class="block-events__content">
                        <div class="block-events__column">
                            <div class="block-events__image">
                                <div class="block-events__data">
                                    Август-Сентябрь
                                </div>
                                <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="block-events__body">
                                <div class="block-events__top">
                                    <div class="block-events__title">
                                        Отбор саженцев и дегустация плодов
                                    </div>
                                    <p>
                                        Приезжайте к нам в питомник в конце лета и начале осени! В это время вы сможете
                                        не только подобрать идеально подходящие вам сорта и оценить здоровье деревьев,
                                        но и самое главное — попробовать спелые плоды прямо с ветки. Наши агрономы
                                        проведут экскурсию и помогут сделать правильный выбор, основываясь на вашем
                                        вкусе
                                    </p>
                                </div>
                                <a href="./" class="btn">
                                    <span>Запланировать визит</span>
                                </a>
                            </div>
                        </div>
                        <div class="block-events__column">
                            <div class="block-events__image">
                                <div class="block-events__data">
                                    Конец Сентября-Октябрь
                                </div>
                                <img loading="lazy" src="img/image10.webp" alt="">
                            </div>
                            <div class="block-events__body">
                                <div class="block-events__top">
                                    <div class="block-events__title">
                                        Осенний сезон посадки
                                    </div>
                                    <p>
                                        Осенний сезон продажи саженцев начинается с третьей декады сентября и
                                        продолжается до конца октября. Это физиологически самое благоприятное время для
                                        посадки плодовых деревьев-крупномеров: растения переходят в состояние покоя и
                                        максимально легко адаптируются на новом месте. В наличии полный ассортимент — от
                                        классики до уникальных деревьев-семей
                                    </p>
                                </div>
                                <a href="./" class="btn">
                                    <span>Перейти в каталог</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-section block-section-last">
                <div class="container">
                    <div class="block-section__content">
                        <img loading="lazy" src="img/image4.webp" alt="" class="block-section__pic1">
                        <img loading="lazy" src="img/image5.webp" alt="" class="block-section__pic2">
                        <div class="block-section__body">
                            <div class="block-section__icon">
                                <svg aria-hidden="true" width="35" height="40">
                                    <use xlink:href="img/sprite.svg#pdf"></use>
                                </svg>
                            </div>
                            <div class="block-section__titles">
                                <div class="block-section__title">
                                    Актуальные цены на весь ассортимент
                                </div>
                                <p>
                                    Ознакомьтесь со стоимостью саженцев яблонь, груш, косточковых культур и декоративных
                                    деревьев. В прайс-листе так же указаны характеристики подвоев сортов
                                </p>
                            </div>
                            <a href="#" download="#download" class="btn">
                                <span>Скачать прайс-лист</span>
                                <svg aria-hidden="true" width="18" height="20">
                                    <use xlink:href="img/sprite.svg#pdf"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>