<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Главная</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-intro">
                <img src="img/bg1.webp" alt="" class="block-intro__bg1 desc">
                <img src="img/bg1-mob.webp" alt="" class="block-intro__bg1 mob">
                <img src="img/image1.webp" alt="" class="block-intro__pic1">
                <img src="img/image2.webp" alt="" class="block-intro__pic2">
                <img src="img/image3.webp" alt="" class="block-intro__pic3">
                <div class="container">
                    <div class="block-intro__content">
                        <h1 class="title1">
                            <span>Уникальные</span> плодовые деревья-крупномеры
                        </h1>
                        <div class="block-intro__text">
                            <div class="block-intro__icon">
                                <svg aria-hidden="true" width="25" height="30">
                                    <use xlink:href="img/sprite.svg#icon1"></use>
                                </svg>
                            </div>
                            <p>
                                <span>Полный ассортимент:</span> от классики до уникальных многосортовых
                                деревьев-семей на одном
                                стволе
                            </p>
                        </div>
                        <a href="./" class="btn">
                            <span>Перейти в каталог</span>
                            <svg aria-hidden="true" width="21" height="13">
                                <use xlink:href="img/sprite.svg#arrow1"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="block-benefits">
                <div class="container">
                    <div class="block-benefits__content">
                        <div class="block-benefits__body">
                            <div class="block-benefits__column">
                                <div class="block-benefits__pic1">
                                    <img loading="lazy" src="img/icon1.webp" alt="">
                                </div>
                                <p>
                                    Гарантия сортности
                                </p>
                            </div>
                            <div class="block-benefits__column">
                                <div class="block-benefits__pic1">
                                    <img loading="lazy" src="img/icon2.webp" alt="">
                                </div>
                                <p>
                                    Здоровые саженцы
                                </p>
                            </div>
                            <div class="block-benefits__column">
                                <div class="block-benefits__pic1">
                                    <img loading="lazy" src="img/icon3.webp" alt="">
                                </div>
                                <p>
                                    Профессиональная
                                    консультация
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-main-catalog">
                <div class="container">
                    <div class="block-main-catalog__content">
                        <div class="block-main-catalog__column">
                            <a href="./" class="block-main-catalog__item item1">
                                <img loading="lazy" src="img/product11.webp" alt="">
                                <div class="block-main-catalog__title">
                                    Груши на слаборослых подвоях
                                </div>
                            </a>
                            <div class="block-main-catalog__columns">
                                <div class="block-main-catalog__items">
                                    <a href="./" class="block-main-catalog__item item2">
                                        <img loading="lazy" src="img/product12.webp" alt="">
                                        <div class="block-main-catalog__title">
                                            Многосортовые яблони
                                        </div>
                                    </a>
                                    <a href="./" class="block-main-catalog__item item3">
                                        <img loading="lazy" src="img/product14.webp" alt="">
                                        <div class="block-main-catalog__title">
                                            Сливы
                                        </div>
                                    </a>
                                </div>
                                <div class="block-main-catalog__items">
                                    <a href="./" class="block-main-catalog__item item3">
                                        <img loading="lazy" src="img/product13.webp" alt="">
                                        <div class="block-main-catalog__title">
                                            Многосортовые груши
                                        </div>
                                    </a>
                                    <a href="./" class="block-main-catalog__item item2">
                                        <img loading="lazy" src="img/product15.webp" alt="">
                                        <div class="block-main-catalog__title">
                                            Груши
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="block-main-catalog__column">
                            <div class="block-main-catalog__columns">
                                <div class="block-main-catalog__items">
                                    <a href="./" class="block-main-catalog__item item2">
                                        <img loading="lazy" src="img/product17.webp" alt="">
                                        <div class="block-main-catalog__title">
                                            Яблони
                                        </div>
                                    </a>
                                    <a href="./" class="block-main-catalog__item item3">
                                        <img loading="lazy" src="img/product18.webp" alt="">
                                        <div class="block-main-catalog__title">
                                            Многосортовые сливы
                                        </div>
                                    </a>
                                </div>
                                <div class="block-main-catalog__items">
                                    <a href="./" class="block-main-catalog__item item3">
                                        <img loading="lazy" src="img/product19.webp" alt="">
                                        <div class="block-main-catalog__title">
                                            Черешни
                                        </div>
                                    </a>
                                    <a href="./" class="block-main-catalog__item item2">
                                        <img loading="lazy" src="img/product20.webp" alt="">
                                        <div class="block-main-catalog__title">
                                            Абрикосы
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <a href="./" class="block-main-catalog__item item1">
                                <img loading="lazy" src="img/product16.webp" alt="">
                                <div class="block-main-catalog__title">
                                    Яблони на слаборослых подвоях
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-section">
                <div class="container">
                    <div class="block-section__content">
                        <img loading="lazy" src="img/image4.webp" alt="" class="block-section__pic1">
                        <img loading="lazy" src="img/image5.webp" alt="" class="block-section__pic2">
                        <div class="block-section__body">
                            <div class="block-section__icon">
                                <svg aria-hidden="true" width="35" height="40">
                                    <use xlink:href="img/sprite.svg#pdf"></use>
                                </svg>
                            </div>
                            <div class="block-section__titles">
                                <div class="block-section__title">
                                    Актуальные цены на весь ассортимент
                                </div>
                                <p>
                                    Ознакомьтесь со стоимостью саженцев яблонь, груш, косточковых культур и декоративных
                                    деревьев. В прайс-листе так же указаны характеристики подвоев сортов
                                </p>
                            </div>
                            <a href="#" download="#download" class="btn">
                                <span>Скачать прайс-лист</span>
                                <svg aria-hidden="true" width="18" height="20">
                                    <use xlink:href="img/sprite.svg#pdf"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-seo">
                <img loading="lazy" src="img/image6.webp" alt="" class="block-seo__pic1">
                <img loading="lazy" src="img/image7.webp" alt="" class="block-seo__pic2">
                <img loading="lazy" src="img/image1.webp" alt="" class="block-seo__pic3">
                <div class="container">
                    <div class="block-seo__content">
                        <div class="block-seo__body">
                            <h2 class="title2">
                                Как выполнить посадку саженцев яблони?
                            </h2>
                            <div data-showmore="items" class="showmore">
                                <div data-showmore-content="3" class="showmore__content">
                                    <p>
                                        Яблоня, является самой распространенной семечковой культурой во всем мире. На
                                        сегодняшний день она спокойно может произрастать как в южных регионах, так и в
                                        северных.
                                    </p>
                                    <p>
                                        Яблоня – не прихотливое дерево и спокойно может расти даже на почвах с
                                        повышенной кислотностью. Высаживать саженцы яблонь лучше всего на хорошо
                                        освещаемых участках.
                                    </p>
                                    <p>
                                        Для яблони желательно, чтобы почва была хорошо проницаемой, легкой и
                                        плодородной. На глинистой и тяжелой почве яблоня будет плохо расти, поэтому при
                                        выкапывании посадочной ямы
                                    </p>
                                    <p>
                                        Для яблони желательно, чтобы почва была хорошо проницаемой, легкой и
                                        плодородной. На глинистой и тяжелой почве яблоня будет плохо расти, поэтому при
                                        выкапывании посадочной ямы
                                    </p>
                                </div>
                                <button hidden data-showmore-button type="button" class="showmore__more">
                                    <span>
                                        Читать полностью
                                        <svg aria-hidden="true" width="21" height="13">
                                            <use xlink:href="img/sprite.svg#arrow1"></use>
                                        </svg>
                                    </span>
                                    <span>
                                        Скрыть
                                        <svg aria-hidden="true" width="21" height="13">
                                            <use xlink:href="img/sprite.svg#arrow1"></use>
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="block-seo__image">
                            <img loading="lazy" src="img/image8.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>