<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Карточка товара</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-main block-main-card">
                <img src="img/bg2.webp" alt="" class="block-main__bg1">
                <img src="img/image1.webp" alt="" class="block-main__pic1">
                <img src="img/image3.webp" alt="" class="block-main__pic2">
                <div class="container">
                    <div class="breadcrumbs">
                        <ul>
                            <li>
                                <a href="#" class="home">
                                    <svg aria-hidden="true" width="12" height="10">
                                        <use xlink:href="img/sprite.svg#home"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Яблони
                                </a>
                            </li>
                            <li><span>Яблоня красномясая Джеромини</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="block-product">
                <div class="container">
                    <div class="block-product__contents">
                        <div class="block-product-top">
                            <a href="./" class="block-product-top__back">
                                <svg aria-hidden="true" width="21" height="13">
                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                </svg>
                                <span>Назад</span>
                            </a>
                            <div class="block-product-top__text">
                                <span>Купили более 275 раз</span>
                            </div>
                            <a href="./" class="block-product-top__share">
                                <svg aria-hidden="true" width="14" height="14">
                                    <use xlink:href="img/sprite.svg#share"></use>
                                </svg>
                                <span>Поделиться</span>
                            </a>
                        </div>
                        <div class="block-product__content">
                            <div class="images-product">
                                <div class="images-product__swiper">
                                    <div class="images-product__slider swiper">
                                        <div class="images-product__wrapper swiper-wrapper">
                                            <a href="img/product21.webp" data-fancybox="slider-gallery1"
                                                class="images-product__slide swiper-slide">
                                                <img src="img/product21.webp" alt="">
                                            </a>
                                            <a href="img/product21.webp" data-fancybox="slider-gallery1"
                                                class="images-product__slide swiper-slide">
                                                <img src="img/product21.webp" alt="">
                                            </a>
                                            <a href="img/product21.webp" data-fancybox="slider-gallery1"
                                                class="images-product__slide swiper-slide">
                                                <img src="img/product21.webp" alt="">
                                            </a>
                                            <a href="img/product21.webp" data-fancybox="slider-gallery1"
                                                class="images-product__slide swiper-slide">
                                                <img src="img/product21.webp" alt="">
                                            </a>
                                            <a href="img/product21.webp" data-fancybox="slider-gallery1"
                                                class="images-product__slide swiper-slide">
                                                <img src="img/product21.webp" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="images-product__arrow-prev arrow-slider arrow-prev">
                                        <svg aria-hidden="true" width="16" height="9">
                                            <use xlink:href="img/sprite.svg#arrow2"></use>
                                        </svg>
                                    </div>
                                    <div class="images-product__arrow-next arrow-slider arrow-next">
                                        <svg aria-hidden="true" width="16" height="9">
                                            <use xlink:href="img/sprite.svg#arrow2"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="images-product__thumbs">
                                    <div class="images-product__thumb swiper">
                                        <div class="images-product__wrapper swiper-wrapper">
                                            <div class="images-product__slide swiper-slide">
                                                <img src="img/product21.webp" alt="">
                                            </div>
                                            <div class="images-product__slide swiper-slide">
                                                <img src="img/product21.webp" alt="">
                                            </div>
                                            <div class="images-product__slide swiper-slide">
                                                <img src="img/product21.webp" alt="">
                                            </div>
                                            <div class="images-product__slide swiper-slide">
                                                <img src="img/product21.webp" alt="">
                                            </div>
                                            <div class="images-product__slide swiper-slide">
                                                <img src="img/product21.webp" alt="">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="block-product__right">
                                <h1 class="title2">
                                    Яблоня красномясая Джеромини
                                </h1>
                                <div data-showmore="items" class="showmore">
                                    <ul data-showmore-content="9" class="showmore__content">
                                        <li>
                                            <div class="block-product__name">
                                                Фасовка:
                                            </div>
                                            <div class="block-product__line"></div>
                                            <div class="block-product__value">
                                                1
                                            </div>
                                        </li>
                                        <li>
                                            <div class="block-product__name">
                                                Местоположение:
                                            </div>
                                            <div class="block-product__line"></div>
                                            <div class="block-product__value">
                                                Cолнце
                                            </div>
                                        </li>
                                        <li>
                                            <div class="block-product__name">
                                                Высота растения:
                                            </div>
                                            <div class="block-product__line"></div>
                                            <div class="block-product__value">
                                                300 - 500 см
                                            </div>
                                        </li>
                                        <li>
                                            <div class="block-product__name">
                                                Время посадки:
                                            </div>
                                            <div class="block-product__line"></div>
                                            <div class="block-product__value">
                                                Март - Июнь; Июль - Ноябрь
                                            </div>
                                        </li>
                                        <li>
                                            <div class="block-product__name">
                                                Морозостойкость:
                                            </div>
                                            <div class="block-product__line"></div>
                                            <div class="block-product__value">
                                                минус 35°С
                                            </div>
                                        </li>
                                        <li>
                                            <div class="block-product__name">
                                                Климатическая зона:
                                            </div>
                                            <div class="block-product__line"></div>
                                            <div class="block-product__value">
                                                Дальний восток; Средняя полоса; Южный регион
                                            </div>
                                        </li>
                                        <li>
                                            <div class="block-product__name">
                                                Расстояние посадки:
                                            </div>
                                            <div class="block-product__line"></div>
                                            <div class="block-product__value">
                                                300 - 500 см
                                            </div>
                                        </li>
                                        <li>
                                            <div class="block-product__name">
                                                Регион посадки:
                                            </div>
                                            <div class="block-product__line"></div>
                                            <div class="block-product__value">
                                                Урал; Подмосковье; Южные регионы
                                            </div>
                                        </li>
                                        <li>
                                            <div class="block-product__name">
                                                Время созревания:
                                            </div>
                                            <div class="block-product__line"></div>
                                            <div class="block-product__value">
                                                Июнь - Август
                                            </div>
                                        </li>
                                        <li>
                                            <div class="block-product__name">
                                                Регион посадки:
                                            </div>
                                            <div class="block-product__line"></div>
                                            <div class="block-product__value">
                                                Урал; Подмосковье; Южные регионы
                                            </div>
                                        </li>
                                        <li>
                                            <div class="block-product__name">
                                                Время созревания:
                                            </div>
                                            <div class="block-product__line"></div>
                                            <div class="block-product__value">
                                                Июнь - Август
                                            </div>
                                        </li>
                                    </ul>
                                    <button hidden data-showmore-button type="button" class="showmore__more">
                                        <span>
                                            Все характеристики
                                            <svg aria-hidden="true" width="14" height="8">
                                                <use xlink:href="img/sprite.svg#arrow2"></use>
                                            </svg>
                                        </span>
                                        <span>
                                            Скрыть
                                            <svg aria-hidden="true" width="14" height="8">
                                                <use xlink:href="img/sprite.svg#arrow2"></use>
                                            </svg>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div data-tabs class="block-product-tabs">
                            <nav data-tabs-titles class="block-product-tabs__navigation">
                                <button type="button" class="block-product-tabs__title _tab-active">
                                    <span>Описание</span>
                                </button>
                                <button type="button" class="block-product-tabs__title">
                                    <span>Доставка и оплата</span>
                                </button>
                            </nav>
                            <div data-tabs-body class="block-product-tabs__content">
                                <div class="block-product-tabs__body">
                                    <div class="block-product-tabs__items">
                                        <div class="block-product-tabs__left">

                                            <div data-showmore class="showmore">
                                                <ul data-showmore-content="393" class="showmore__content">
                                                    <div class="block-product-tabs__text">
                                                        <p>
                                                            Яблоня, является самой распространенной семечковой культурой
                                                            во всем
                                                            мире. На сегодняшний день она спокойно может произрастать
                                                            как в
                                                            южных регионах, так и в северных.
                                                        </p>
                                                        <p>
                                                            Яблоня – не прихотливое дерево и спокойно может расти даже
                                                            на почвах
                                                            с повышенной кислотностью. Высаживать саженцы яблонь лучше
                                                            всего на
                                                            хорошо освещаемых участках.
                                                        </p>
                                                    </div>
                                                    <div class="block-product-tabs__text">
                                                        <div class="title3">
                                                            Место посадки
                                                        </div>
                                                        <p>
                                                            Главное условие при выборе места для посадки яблони —
                                                            уровень
                                                            залегания грунтовых вод. Высокое их стояние приводит к
                                                            отмиранию
                                                            корневой системы. В результате наблюдается явление
                                                            суховершинности кроны, растение слабеет и погибает. Не
                                                            подходят
                                                            для яблонь ...
                                                        </p>
                                                    </div>
                                                    <div class="block-product-tabs__text">
                                                        <p>
                                                            Яблоня, является самой распространенной семечковой культурой
                                                            во всем
                                                            мире. На сегодняшний день она спокойно может произрастать
                                                            как в
                                                            южных регионах, так и в северных.
                                                        </p>
                                                        <p>
                                                            Яблоня – не прихотливое дерево и спокойно может расти даже
                                                            на почвах
                                                            с повышенной кислотностью. Высаживать саженцы яблонь лучше
                                                            всего на
                                                            хорошо освещаемых участках.
                                                        </p>
                                                    </div>
                                                </ul>
                                                <button hidden data-showmore-button type="button"
                                                    class="showmore__more">
                                                    <span>
                                                        Читать полностью
                                                        <svg aria-hidden="true" width="14" height="8">
                                                            <use xlink:href="img/sprite.svg#arrow2"></use>
                                                        </svg>
                                                    </span>
                                                    <span>
                                                        Скрыть
                                                        <svg aria-hidden="true" width="14" height="8">
                                                            <use xlink:href="img/sprite.svg#arrow2"></use>
                                                        </svg>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="block-product-tabs__image">
                                            <img loading="lazy" src="img/product24.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="block-product-tabs__body">
                                    Содержимое второго таба
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-section">
                <div class="container">
                    <div class="block-section__content">
                        <img loading="lazy" src="img/image4.webp" alt="" class="block-section__pic1">
                        <img loading="lazy" src="img/image5.webp" alt="" class="block-section__pic2">
                        <div class="block-section__body">
                            <div class="block-section__icon">
                                <svg aria-hidden="true" width="35" height="40">
                                    <use xlink:href="img/sprite.svg#pdf"></use>
                                </svg>
                            </div>
                            <div class="block-section__titles">
                                <div class="block-section__title">
                                    Актуальные цены на весь ассортимент
                                </div>
                                <p>
                                    Ознакомьтесь со стоимостью саженцев яблонь, груш, косточковых культур и декоративных
                                    деревьев. В прайс-листе так же указаны характеристики подвоев сортов
                                </p>
                            </div>
                            <a href="#" download="#download" class="btn">
                                <span>Скачать прайс-лист</span>
                                <svg aria-hidden="true" width="18" height="20">
                                    <use xlink:href="img/sprite.svg#pdf"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-see-also">
                <div class="container">
                    <div class="block-see-also__content">
                        <h2 class="title2">Смотрите так же</h2>
                        <div class="block-see-also__body">
                            <div class="block-see-also__slider swiper">
                                <div class="block-see-also__wrapper swiper-wrapper">
                                    <div class="block-see-also__slide swiper-slide">
                                        <a href="./" class="card-product">
                                            <img loading="lazy" src="img/product21.webp" alt=""
                                                class="card-product__pic1">
                                            <div class="card-product__item">
                                                <div class="card-product__name">
                                                    Яблоня Ред Чиф
                                                </div>
                                                <p>
                                                    Красная мякоть - отличный вкусный, индивидуальный сорт великолепных
                                                    яблок! Необычные яблоки ...
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="block-see-also__slide swiper-slide">
                                        <a href="./" class="card-product">
                                            <img loading="lazy" src="img/product23.webp" alt=""
                                                class="card-product__pic1">
                                            <div class="card-product__item">
                                                <div class="card-product__name">
                                                    Яблоня Черный бриллиант (Алмаз)
                                                </div>
                                                <p>
                                                    Высокоурожайное дерево, считается среднерослым. Высота
                                                    Высокоурожайное дерево, считается среднерослым. Высота ...
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="block-see-also__slide swiper-slide">
                                        <a href="./" class="card-product">
                                            <img loading="lazy" src="img/product21.webp" alt=""
                                                class="card-product__pic1">
                                            <div class="card-product__item">
                                                <div class="card-product__name">
                                                    Яблоня красномясая Джеромини
                                                </div>
                                                <p>
                                                    Сорт Джеромини - это компактные, низкорослые деревья с умеренной
                                                    Сорт
                                                    Джеромини - это компактные, низкорослые деревья с умеренной ...
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="block-see-also__slide swiper-slide">
                                        <a href="./" class="card-product">
                                            <img loading="lazy" src="img/product23.webp" alt=""
                                                class="card-product__pic1">
                                            <div class="card-product__item">
                                                <div class="card-product__name">
                                                    Яблоня Черный бриллиант (Алмаз)
                                                </div>
                                                <p>
                                                    Высокоурожайное дерево, считается среднерослым. Высота
                                                    Высокоурожайное дерево, считается среднерослым. Высота ...
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="block-see-also__slide swiper-slide">
                                        <a href="./" class="card-product">
                                            <img loading="lazy" src="img/product23.webp" alt=""
                                                class="card-product__pic1">
                                            <div class="card-product__item">
                                                <div class="card-product__name">
                                                    Яблоня Черный бриллиант (Алмаз)
                                                </div>
                                                <p>
                                                    Высокоурожайное дерево, считается среднерослым. Высота
                                                    Высокоурожайное дерево, считается среднерослым. Высота ...
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="block-see-also__slide swiper-slide">
                                        <a href="./" class="card-product">
                                            <img loading="lazy" src="img/product23.webp" alt=""
                                                class="card-product__pic1">
                                            <div class="card-product__item">
                                                <div class="card-product__name">
                                                    Яблоня Черный бриллиант (Алмаз)
                                                </div>
                                                <p>
                                                    Высокоурожайное дерево, считается среднерослым. Высота
                                                    Высокоурожайное дерево, считается среднерослым. Высота ...
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="block-see-also__arrow-prev arrow-slider arrow-prev">
                                <svg aria-hidden="true" width="16" height="9">
                                    <use xlink:href="img/sprite.svg#arrow2"></use>
                                </svg>
                            </div>
                            <div class="block-see-also__arrow-next arrow-slider arrow-next">
                                <svg aria-hidden="true" width="16" height="9">
                                    <use xlink:href="img/sprite.svg#arrow2"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>