<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Отзывы</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-main">
                <img src="img/bg2.webp" alt="" class="block-main__bg1">
                <img src="img/image1.webp" alt="" class="block-main__pic1">
                <img src="img/image3.webp" alt="" class="block-main__pic2">
                <div class="container">
                    <div class="breadcrumbs">
                        <ul>
                            <li>
                                <a href="#" class="home">
                                    <svg aria-hidden="true" width="12" height="10">
                                        <use xlink:href="img/sprite.svg#home"></use>
                                    </svg>
                                </a>
                            </li>
                            <li><span>Отзывы</span></li>
                        </ul>
                    </div>
                    <h1 class="title1">Отзывы</h1>
                </div>
            </div>

            <div class="block-reviews">
                <div class="container">
                    <div class="block-reviews__content">
                        <div class="block-reviews__top">
                            <p>
                                Будем рады услышать Ваши впечатления, пожелания и предложения. Ваше мнение помогает нам
                                становиться лучше и радовать наших клиентов лучшим сервисом!
                            </p>
                            <a href="./" data-popup="#review" class="btn">
                                <span>Оставить отзыв</span>
                            </a>
                        </div>
                        <div class="block-reviews__cards">
                            <div class="block-reviews__column">
                                <div class="card-review">
                                    <img src="img/product21.webp" alt="" class="card-review__pic1">
                                    <div class="card-review__item">
                                        <div class="card-review__rating">
                                            <div class="card-review__name">Мария</div>
                                            <div data-rating data-rating-size="5" data-rating-value="5" class="rating">
                                            </div>
                                        </div>
                                        <p>
                                            Очень долго искала яблоню алматинский апорт , нашла только у вас , спасибо
                                            большое.  Живой здоровый саженец
                                        </p>
                                    </div>
                                </div>
                                <div class="card-review">
                                    <img src="img/product22.webp" alt="" class="card-review__pic1">
                                    <div class="card-review__item">
                                        <div class="card-review__rating">
                                            <div class="card-review__name">Ирина</div>
                                            <div data-rating data-rating-size="5" data-rating-value="3" class="rating">
                                            </div>
                                        </div>
                                        <p>
                                            Добрый день. Делала осенью большой заказ: озы канадские 6 штук, роза
                                            плетистая, воград амурский 2 шт, черешня канадская Лапинс, ирга, яблоня
                                            Фуджи, персик, гибрид рябины с грушей. Высаено все было по правилам, как
                                            положено. В итоге: виноград, черешня, плетистая роза, гибрид рябины с грушей
                                            е прижились, признаков жизни не подают. Розы канадские пока под вопросом, но
                                            вроде оживают, на яблоне и персике по одной маленькой веточке в самом низу,
                                            пока даже не очень понятно выше или ниже прививки. Ирга вроде оживает.
                                        </p>
                                    </div>
                                </div>
                                <div class="card-review">
                                    <img src="img/product21.webp" alt="" class="card-review__pic1">
                                    <div class="card-review__item">
                                        <div class="card-review__rating">
                                            <div class="card-review__name">Мария</div>
                                            <div data-rating data-rating-size="5" data-rating-value="5" class="rating">
                                            </div>
                                        </div>
                                        <p>
                                            Очень долго искала яблоню алматинский апорт , нашла только у вас , спасибо
                                            большое.  Живой здоровый саженец
                                        </p>
                                    </div>
                                </div>
                                <div class="card-review">
                                    <img src="img/product22.webp" alt="" class="card-review__pic1">
                                    <div class="card-review__item">
                                        <div class="card-review__rating">
                                            <div class="card-review__name">Ирина</div>
                                            <div data-rating data-rating-size="5" data-rating-value="3" class="rating">
                                            </div>
                                        </div>
                                        <p>
                                            Добрый день. Делала осенью большой заказ: озы канадские 6 штук, роза
                                            плетистая, воград амурский 2 шт, черешня канадская Лапинс, ирга, яблоня
                                            Фуджи, персик, гибрид рябины с грушей. Высаено все было по правилам, как
                                            положено. В итоге: виноград, черешня, плетистая роза, гибрид рябины с грушей
                                            е прижились, признаков жизни не подают. Розы канадские пока под вопросом, но
                                            вроде оживают, на яблоне и персике по одной маленькой веточке в самом низу,
                                            пока даже не очень понятно выше или ниже прививки. Ирга вроде оживает.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="block-reviews__column">
                                <div class="card-review">
                                    <img src="img/product23.webp" alt="" class="card-review__pic1">
                                    <div class="card-review__item">
                                        <div class="card-review__rating">
                                            <div class="card-review__name">Виктория</div>
                                            <div data-rating data-rating-size="5" data-rating-value="5" class="rating">
                                            </div>
                                        </div>
                                        <p>
                                            Здравствуйте. Посылка упакована хорошо, растения живые. Насколько они
                                            соответствуют сорту- сразу сказать трудно, но очень надеюсь, что не
                                            промахнулись. Спасибо за розочку в подарок. Очень приятно, что на каждом
                                            растении есть бирка со ссылкой на информацию по уходу за каждым конкретным
                                            растением.
                                        </p>
                                    </div>
                                </div>
                                <div class="card-review">
                                    <img src="img/product21.webp" alt="" class="card-review__pic1">
                                    <div class="card-review__item">
                                        <div class="card-review__rating">
                                            <div class="card-review__name">Маргарита</div>
                                            <div data-rating data-rating-size="5" data-rating-value="3" class="rating">
                                            </div>
                                        </div>
                                        <p>
                                            Добрый день. Делала осенью большой заказ: озы канадские 6 штук, роза
                                            плетистая, воград амурский 2 шт, черешня канадская Лапинс, ирга, яблоня
                                            Фуджи, персик, гибрид рябины с грушей. Высаено все было по правилам, как
                                            положено. В итоге: виноград, черешня, плетистая роза,
                                        </p>
                                    </div>
                                </div>
                                <div class="card-review">
                                    <img src="img/product23.webp" alt="" class="card-review__pic1">
                                    <div class="card-review__item">
                                        <div class="card-review__rating">
                                            <div class="card-review__name">Виктория</div>
                                            <div data-rating data-rating-size="5" data-rating-value="5" class="rating">
                                            </div>
                                        </div>
                                        <p>
                                            Здравствуйте. Посылка упакована хорошо, растения живые. Насколько они
                                            соответствуют сорту- сразу сказать трудно, но очень надеюсь, что не
                                            промахнулись. Спасибо за розочку в подарок. Очень приятно, что на каждом
                                            растении есть бирка со ссылкой на информацию по уходу за каждым конкретным
                                            растением.
                                        </p>
                                    </div>
                                </div>
                                <div class="card-review">
                                    <img src="img/product21.webp" alt="" class="card-review__pic1">
                                    <div class="card-review__item">
                                        <div class="card-review__rating">
                                            <div class="card-review__name">Маргарита</div>
                                            <div data-rating data-rating-size="5" data-rating-value="3" class="rating">
                                            </div>
                                        </div>
                                        <p>
                                            Добрый день. Делала осенью большой заказ: озы канадские 6 штук, роза
                                            плетистая, воград амурский 2 шт, черешня канадская Лапинс, ирга, яблоня
                                            Фуджи, персик, гибрид рябины с грушей. Высаено все было по правилам, как
                                            положено. В итоге: виноград, черешня, плетистая роза,
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="block-reviews__column">
                                <div class="card-review">
                                    <img src="img/product22.webp" alt="" class="card-review__pic1">
                                    <div class="card-review__item">
                                        <div class="card-review__rating">
                                            <div class="card-review__name">Ирина</div>
                                            <div data-rating data-rating-size="5" data-rating-value="3" class="rating">
                                            </div>
                                        </div>
                                        <p>
                                            Добрый день. Делала осенью большой заказ: озы канадские 6 штук, роза
                                            плетистая, воград амурский 2 шт, черешня канадская Лапинс, ирга, яблоня
                                            Фуджи, персик, гибрид рябины с грушей. Высаено все было по правилам, как
                                            положено. В итоге: виноград, черешня, плетистая роза, гибрид рябины с грушей
                                            е прижились, признаков жизни не подают. Розы канадские пока под вопросом, но
                                            вроде оживают, на яблоне и персике по одной маленькой веточке в самом низу,
                                            пока даже не очень понятно выше или ниже прививки. Ирга вроде оживает.
                                        </p>
                                    </div>
                                </div>
                                <div class="card-review">
                                    <img src="img/product23.webp" alt="" class="card-review__pic1">
                                    <div class="card-review__item">
                                        <div class="card-review__rating">
                                            <div class="card-review__name">Мария</div>
                                            <div data-rating data-rating-size="5" data-rating-value="5" class="rating">
                                            </div>
                                        </div>
                                        <p>
                                            Очень долго искала яблоню алматинский апорт , нашла только у вас , спасибо
                                            большое.  Живой здоровый саженец
                                        </p>
                                    </div>
                                </div>
                                <div class="card-review">
                                    <img src="img/product22.webp" alt="" class="card-review__pic1">
                                    <div class="card-review__item">
                                        <div class="card-review__rating">
                                            <div class="card-review__name">Ирина</div>
                                            <div data-rating data-rating-size="5" data-rating-value="3" class="rating">
                                            </div>
                                        </div>
                                        <p>
                                            Добрый день. Делала осенью большой заказ: озы канадские 6 штук, роза
                                            плетистая, воград амурский 2 шт, черешня канадская Лапинс, ирга, яблоня
                                            Фуджи, персик, гибрид рябины с грушей. Высаено все было по правилам, как
                                            положено. В итоге: виноград, черешня, плетистая роза, гибрид рябины с грушей
                                            е прижились, признаков жизни не подают. Розы канадские пока под вопросом, но
                                            вроде оживают, на яблоне и персике по одной маленькой веточке в самом низу,
                                            пока даже не очень понятно выше или ниже прививки. Ирга вроде оживает.
                                        </p>
                                    </div>
                                </div>
                                <div class="card-review">
                                    <img src="img/product23.webp" alt="" class="card-review__pic1">
                                    <div class="card-review__item">
                                        <div class="card-review__rating">
                                            <div class="card-review__name">Мария</div>
                                            <div data-rating data-rating-size="5" data-rating-value="5" class="rating">
                                            </div>
                                        </div>
                                        <p>
                                            Очень долго искала яблоню алматинский апорт , нашла только у вас , спасибо
                                            большое.  Живой здоровый саженец
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% include 'blocks/pagging.njk' %}
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>