.main-wrapper-outer {
  width: 100%;
  min-height: 100%;
  max-width: var(--main-outer-width);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
  &::before {
    content: "";
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 97;
    background: rgba(16, 36, 24, 0.2);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  .menu-open & {
    &::before {
      content: "";
      opacity: 1;
      pointer-events: auto;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
  .filter-open & {
    &::before {
      content: "";
      opacity: 1;
      pointer-events: auto;
      z-index: 108;
      @media (max-width: 550px) {
        display: none;
      }
    }
  }
}

.main {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 120px 0px 0px 0px;
  @media (max-width: 1336px) {
    margin: 130px 0px 0px 0px;
  }
  @media (max-width: 768px) {
    margin: 115px 0px 0px 0px;
  }
  @media (max-width: 359px) {
    margin: 105px 0px 0px 0px;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: var(--container-width);
  padding: 0px 20px;
}
